    <!-- <div class="home-container">


  <div class="tile-grid">

    <a routerLink="/calendar" class="tile ls-glow">
      <span>Calendar</span>
      <img [ngSrc]="CalPath" width="64" height="64" />
    </a>

    <a routerLink="/tasks" class="tile ls-glow">
      <span>Tasks</span>
      <img [ngSrc]="TaskPath" width="64" height="64" />
    </a>

    <a routerLink="/notes" class="tile ls-glow">
      <span>Notes</span>
      <img [ngSrc]="NotePath" width="64" height="64" />
    </a>

    <a routerLink="/checkbook" class="tile ls-glow">
      <span>Checkbook</span>
      <img [ngSrc]="ChkPath" width="64" height="64" />
    </a>

    <a routerLink="/calculator" class="tile ls-glow">
      <span>Money Manager</span>
      <img [ngSrc]="CalcPath" width="64" height="64" />
    </a>

    <a routerLink="/contacts" class="tile ls-glow">
      <span>Contacts</span>
      <img [ngSrc]="ContPath" width="64" height="64" />
    </a>

  </div>
</div> -->